// ======================================== [IMPORTS]
@import '../colors';
@import '../isFlex';
@import '../isGrid';
@import '../transition';
@import '../Components/scroll';


// The body and main have to have these settings
body {
    @include is-flex(flex-start, flex-start);
}

main {
    @extend .grid-9;
}

// ======================================== [NAVBAR-VERICAL]
@mixin navbarVertical-1() {
    @extend .grid-3;
    @include scroll-2();
    height: 100vh;
    padding: 2em;
    overflow-y: hidden;
    transition: $transition-2;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
    background-image: $gradient-1;

    & * {
        color: white;
    }

    &:hover {
        .navbarContent {
            padding-right: 0;
        }

        overflow-y: auto;
    }

    .navbarContent {
        padding-right: 17px;
    }


    // ========== [BRAND]
    .navBrand {
        @include is-flex(center, flex-start);
        padding: .8em 0;
        font-size: 28px;

        i {
            margin-right: .4em;
        }
    }

    // ========== [ITEM]
    .navItem {
        padding: 1em;
        height: 100%;
        border-radius: 10px;
        margin-bottom: .8em;
        background-color: $color-3;
    }

    // ========== [WHEN THE ITEM IS ACTIVE]
    .active {
        background-color: $color-5;
        border-radius: 10px 0;
    }
}