// ======================================== [IMPORTS]
@import '../colors';
@import '../isFlex';
@import '../isGrid';
@import '../transition';
@import '../shadow';

$navbarOn: true; //On to spacing main
$heightNavbar: 70px; // Height navbar

@mixin navbar-1() {
    @include is-flex(center, flex-start);
    width: 100%;
    height: $heightNavbar;
    background-color: $color-1;
    position: absolute;
    position: fixed;
    z-index: 999;
    top: 0;
    box-shadow: $shadow-2;

    i {
        color: white;
    }

    .navbarContent {
        width: 100%;
        padding: 0 1.5em;
        @include is-flex(center, flex-start);

        button {
            @extend .mr-2;
        }

        .navbarContentMain {
            width: 90%;
            @include is-flex(center, space-between);
        }
    }
}