// ======================================== [SHADOWS]
$shadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-2: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
$shadow-3: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
$shadow-4: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$shadow-5: #00000029 0px 3px 6px, rgba(189, 177, 177, 0.1) 0px 3px 6px;
$shadow-6: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$shadow-7: rgba(0, 0, 0, 0.24) 0px 3px 8px;
